body{	
  overflow: hidden;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

audio {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#game_container {
	width: 1080px;
	height: 580px;
	border: 3px solid black;
    background-image: url("../img/background_waterfall.gif");
	background-size: 100%;
	z-index: 0;
}
#mute_unmute {
	text-align: right;
	padding-top: 15px; 
	padding-right: 35px;
	z-index: 1000;
}
#inner_content {
	z-index: 10;
	width: 1080px;
	height: 580px;
	margin-top: -10px;
}
.center-div
{
    margin: 0 auto;
    width: 100px; 
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center-audio
{
    margin-left: 212px;
}
.rounded_corners {
    border-radius: 15px;
    padding-top: 2px; 
	padding-left: 35px;
	
}

/**START PAGE SECTION*/
#start_page {
	display:none; 
}
#play_button 
{
	height:105px; 
	width:105px;
	margin-left: 460px;
	margin-top: 180px;
}
/**START PAGE SECTION*/

/**HOMEPAGE SECTION*/
#home_page {
	padding-top: 65px;
	padding-left:55px;
}
.flip-card {
  background-color: transparent;
  width: 275px;
  height: 300px;
  perspective: 1000px;
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white /**#bbb*/;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
/**HOMEPAGE SECTION*/

/**Game0 SECTION*/
#gameArea0{
	display: none;
}
#overlay {
    display: block;
	width: 1080px;
	height: 585px;
	margin-top: -45px; 
	margin-left: -35px;
	margin-right: -55px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#gameContainer0{
	display: none;
	width: 1080px;
	height: 585px;
	margin-top: -45px; 
	margin-left: -35px;
	margin-right: -55px;	
}
#question0{
	width:  900px;
	height: 400px;
	margin-top: 100px; 
	margin-left: 50px;
	margin-right: -55px;
	background-color: rgba(255,255,255,0.9);
	padding-top: 20px;
}
/**Game0 SECTION*/

/**Game1 SECTION*/
#gameArea1{
	display: none;
}
/**Game1 SECTION*/

/**Game2 SECTION*/
#gameArea2{
	display: none;
}
/**Game2 SECTION*/

/**Miscellaneous*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.fade-in {
	animation: 1.1s fadeIn;
	animation-fill-mode: forwards;  
	visibility: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.pointer {
	cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/**Balloon stuff*/
@gps-burg:           rgba(182, 15, 97, 0.9);
@gps-orange:         rgba(242, 112, 45, 0.9);
@gps-skyblue:        rgba(45, 181, 167, 0.9);
@gps-purple:         rgba(190, 61, 244, 0.9);
@gps-green:          rgba(180, 224, 67, 0.9);
@gps-yellow:         rgba(242, 194, 58, 0.9);

span {
  font-family: 'Wendy One', sans-serif;  
}

span {
  text-transform: uppercase;  
}
.containerBalloon {
  width: 800px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  /* background: whitesmoke; */
  position: relative;
}
.balloon { 
  width: 738px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}
.balloon > div {
   width:104px;
  height:140px; 
  background: rgba(182, 15, 97, 0.9);
  border-radius:0;
  border-radius:80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  box-shadow:inset 17px 7px 10px rgba(182, 15, 97, 0.9); 
  -webkit-transform-origin: bottom center; 
}
.balloon > div:nth-child(1){
  background: rgba(182, 15, 97, 0.9);
  left: 0; 
  box-shadow:inset 10px 10px 10px darken(rgba(182, 15, 97, 0.9), 10%);
  -webkit-animation:balloon1 6s ease-in-out infinite;
  -moz-animation:balloon1 6s ease-in-out infinite;
  -o-animation:balloon1 6s ease-in-out infinite;
  animation:balloon1 6s ease-in-out infinite;
  &:before { 
   color: rgba(182, 15, 97, 0.9) ;
  }

}
.balloon > div:nth-child(2){
  background: rgba(242, 112, 45, 0.9);
  left: 120px; 
  box-shadow:inset 10px 10px 10px darken(rgba(242, 112, 45, 0.9), 10%);
   -webkit-animation:balloon2 6s ease-in-out infinite;
  -moz-animation:balloon2 6s ease-in-out infinite;
  -o-animation:balloon2 6s ease-in-out infinite;
  animation:balloon2 6s ease-in-out infinite;
  &:before { 
   color: rgba(242, 112, 45, 0.9) ;
  }

}
.balloon > div:nth-child(3){
  background: @gps-skyblue;
  left: 240px; 
  box-shadow:inset 10px 10px 10px darken(@gps-skyblue, 10%);
   -webkit-animation:balloon4 6s ease-in-out infinite;
  -moz-animation:balloon4 6s ease-in-out infinite;
  -o-animation:balloon4 6s ease-in-out infinite;
  animation:balloon4 6s ease-in-out infinite;
  &:before { 
   color: @gps-skyblue ;
  }

}
.balloon > div:nth-child(4){
  background: @gps-purple;
  left: 360px; 
  box-shadow:inset 10px 10px 10px darken(@gps-purple, 10%); 
   -webkit-animation:balloon1 5s ease-in-out infinite;
  -moz-animation:balloon1 5s ease-in-out infinite;
  -o-animation:balloon1 5s ease-in-out infinite;
  animation:balloon1 5s ease-in-out infinite;
  &:before { 
   color: @gps-purple ;
  }

}
.balloon > div:nth-child(5){
  background: @gps-green;
  left: 480px; 
  box-shadow:inset 10px 10px 10px darken(@gps-green, 10%);
   -webkit-animation:balloon3 5s ease-in-out infinite;
  -moz-animation:balloon3 5s ease-in-out infinite;
  -o-animation:balloon3 5s ease-in-out infinite;
  animation:balloon3 5s ease-in-out infinite;
  &:before { 
   color: @gps-green ;
  }

}
.balloon > div:nth-child(6){
  background: @gps-yellow;
  left: 600px; 
  box-shadow:inset 10px 10px 10px darken(@gps-yellow, 10%);
  -webkit-animation:balloon2 3s ease-in-out infinite;
  -moz-animation:balloon2 3s ease-in-out infinite;
  -o-animation:balloon2 3s ease-in-out infinite;
  animation:balloon2 3s ease-in-out infinite;
  &:before { 
   color: @gps-yellow ; 
  }

}
.balloon > div:before {
  color:rgba(182, 15, 97, 0.9);
  position:absolute;
  bottom:-11px;
  left: 52px;  
  content:"▲";
  font-size:1em;
}

span {
  font-size: 4.8em;
  color: white;
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -27px; 
} 

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
  50%{ -webkit-transform:translateY(-20px) rotate(8deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -moz-transform:translateY(0) rotate(-6deg);}
  50%{ -moz-transform:translateY(-20px) rotate(8deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -o-transform:translateY(0) rotate(-6deg);}
  50%{ -o-transform:translateY(-20px) rotate(8deg); }
}
@keyframes balloon1 {
  0%,100%{ transform:translateY(0) rotate(-6deg);}
  50%{ transform:translateY(-20px) rotate(8deg); }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%,100%{ -webkit-transform:translateY(0) rotate(6eg);}
  50%{ -webkit-transform:translateY(-30px) rotate(-8deg); }
}
@-moz-keyframes balloon2 {
  0%,100%{ -moz-transform:translateY(0) rotate(6deg);}
  50%{ -moz-transform:translateY(-30px) rotate(-8deg); }
}
@-o-keyframes balloon2 {
  0%,100%{ -o-transform:translateY(0) rotate(6deg);}
  50%{ -o-transform:translateY(-30px) rotate(-8deg); }
}
@keyframes balloon2 {
  0%,100%{ transform:translateY(0) rotate(6deg);}
  50%{ transform:translateY(-30px) rotate(-8deg); }
}


/* BAllOON 0*/
@-webkit-keyframes balloon3 {
  0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
  50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-moz-keyframes balloon3 {
 0%,100%{ -moz-transform:translate(0, -10px) rotate(6eg);}
  50%{ -moz-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-o-keyframes balloon3 {
 0%,100%{ -o-transform:translate(0, -10px) rotate(6eg);}
  50%{ -o-transform:translate(-20px, 30px) rotate(-8deg); }
}
@keyframes balloon3 {
 0%,100%{ transform:translate(0, -10px) rotate(6eg);}
  50%{ transform:translate(-20px, 30px) rotate(-8deg); }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {
  0%,100%{ -webkit-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -webkit-transform:translate(-15px, 20px) rotate(10deg); }
} 
@-moz-keyframes balloon4 {
  0%,100%{ -moz-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -moz-transform:translate(-15px, 10px) rotate(10deg); }
}
@-o-keyframes balloon4 {
  0%,100%{ -o-transform:translate(10px, -10px) rotate(-8eg);}
  50%{ -o-transform:translate(-15px, 10px) rotate(10deg); }
}
@keyframes balloon4 {
  0%,100%{ transform:translate(10px, -10px) rotate(-8eg);}
  50%{ transform:translate(-15px, 10px) rotate(10deg); }
}
/**Balloon stuff*/
/**Miscellaneous*/
